<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @card, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :deck_id, "デッキ" %>
        <%= f.select :deck_id, @decks.map{|t| [t.name, t.id.to_i]}, {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :question, "問題" %>
        <%= f.text_field :question, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :answer, "解答" %>
        <%= f.text_field :answer, class: "form-control" %>
      </div>
      
      <% if controller.action_name == 'new' or controller.action_name == 'create' %>
        <%= f.submit "追加", class: "btn btn-primary btn-block" %>
      <% elsif controller.action_name == 'edit' or controller.action_name == 'update' %>
        <%= f.submit "更新", class: "btn btn-primary btn-block" %>
      <% end %>
    <% end %>
  </div>
</div>