<div class="text-right">
  カード数: <%= @count_all_cards %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>デッキ</th>
      <th>問題</th>
      <th>解答</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <%= link_to card.deck.name, card.deck, class: "btn btn-outline-primary", method: :get %>
        </td>
        <td>
          <%= card.question %>
        </td>
        <td>
          <%= card.answer %>
        </td>
        <td>
          <%= link_to "編集", edit_card_path(card), class: "btn btn-info btn-sm", method: :get %>
        </td>
        <td>
          <%= link_to "削除", card, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "本当に削除してよろしいですか？"} %>
        </td>
      <tr>
    <% end %>
  </tbody>
  <%= paginate @cards %>
</table>