<div class="container">
  <div class="row">
    <div class="text-left col-sm-6">
      デッキ名クリックで出題開始
    </div>
    <div class="text-right col-sm-6">
      デッキ数: <%= @count_decks %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">デッキ名</th>
      <th class="text-center">カード数</th>
      <th class="text-center">前回の正解率</th>
      <th class="text-center">詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td class="text-center">
          <%= link_to deck.name, questions_path(params: {deck_id: deck.id}), class: "btn btn-outline-primary btn-block", method: :post %>
        </td>
        <td class="text-center">
          <%= deck.cards.count %>
        </td>
        <td class="text-center">
          <% if deck.current_correct_rate %>
            <%= deck.current_correct_rate %> %
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to "詳細", deck, class: "btn btn-info btn-sm", method: :get %>
        </td>
      <tr>
    <% end %>
  </tbody>
  <%= paginate @decks %>
</table>


