<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= @deck.name %>
    </div>
    <div class="col-sm-6">
      カード数: <%= @count_cards %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "このデッキを編集する", edit_deck_path, class: "btn btn-outline-info", method: :get %>
    </div>
    <div class="col-sm-6">
      <%= link_to "このデッキを削除する", @deck, class: "btn btn-outline-danger", method: :delete, data: { confirm: "デッキ内のカードもすべて削除されますが本当に削除してよろしいですか？"} %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>問題</th>
      <th>解答</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <%= card.question %>
        </td>
        <td>
          <%= card.answer %>
        </td>
        <td>
          <%= link_to "編集", edit_card_path(card), class: "btn btn-info btn-sm", method: :get %>
        </td>
        <td>
          <%= link_to "削除", card_path(card), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "本当に削除してよろしいですか？"} %>
        </td>
      <tr>
    <% end %>
  </tbody>
  <%= paginate @cards %>
</table>